.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

messages.db
local.properties
/messenger-android/release/messenger-android-release.apk
/messenger-android/release/baselineProfiles/0/messenger-android-release.dm
/messenger-android/release/baselineProfiles/1/messenger-android-release.dm
/messenger-android/release/output-metadata.json
/messenger-desktop/res/

# Environment files
messenger-server/.env

/messenger-android/google-services.json
/messenger-server/vaultchat-admin-sdk.json
